In [7]:
import pandas as pd
from scipy import stats

In [8]:
data=pd.read_excel('Book4.xlsx')
data.head()

        MQG       ANZ
0 -0.006140 -0.010772
1 -0.026117  0.007962
2  0.015366  0.027138
3  0.084823  0.041022
4  0.079681  0.071310

In [9]:
x=data['MQG']
y=data['ANZ']
sp.stats.ranksums(x, y)

RanksumsResult(statistic=0.83453357091955, pvalue=0.40398037794732233)